// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


$porc100: 100%;

$bluebutton: #00C4FF;

$blackbutton: #111111;

$seta:"\ea7f"